<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>    
<center><b><h1>KACHA MIHIR | 23010101118 | 26/11/2024 </b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello world...!")

Hello world...!

### 02) WAP to print addition of two numbers with and without using input().

In [ ]:
a = 2
b = 5
print(a + b)

c = int(input("enter a number :"))
d = int(input("enter a number :"))

print(c + d)

7
enter a number4
enter a number5
9

### 03) WAP to check the type of the variable.

In [5]:
a = 11
b = "mihir"
c = 6.9
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

### 04) WAP to calculate simple interest.

In [7]:
p = int(input("enter principal amount :"))
r =  int(input("enter interest rate :"))
t = int(input("enter time in years:"))

si = (p*r*t)/100

print("interest :",si)
print("total amount",si+p)

enter principal amount :1000
enter interest rate :15
enter time in years:5
interest : 750.0
total amount 1750.0

### 05) WAP to calculate area and perimeter of a circle.

In [11]:
import math
r=float(input("enter the radius od circel: "))

area = math.pi*r*r

perimeter = 2*math.pi*r

print("area =","%0.4f"%area)
print("perimeter =","%0.4f"%perimeter)

enter the radius od circel: 100
area = 31415.9265
perimeter = 628.3185

### 06) WAP to calculate area of a triangle.

In [12]:
base = int(input("enter the base :"))
height = int(input("enter the height :"))

area= (base*height)/2

print("area",area)

enter the base :4
enter the height :4
area 8.0

### 07) WAP to compute quotient and remainder.

In [14]:
a=7
b=3

quotient = a//b
remainder = a%b

print("quotient =",quotient)
print("remainder =",remainder)

quotient = 2
remainder = 1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [16]:
degree = float (input("enter degree"))

Fahrenheit = (degree*9/5)+32

print("Fahrenheit",Fahrenheit)

Fahrenheit = float (input("enter Fahrenheit"))

degree = (Fahrenheit-32)*5/9

print("degree",degree)

enter degree0
Fahrenheit 32.0
enter Fahrenheit32
degree 0.0

### 09) WAP to find the distance between two points in 2-D space.

In [21]:
import math
x1 = int(input("enter coordinate x1 :"))
y1 = int(input("enter coordinate y1 :"))

x2 = int(input("enter coordinate x2 :"))
y2 = int(input("enter coordinate y2 :"))

distance = math.sqrt((x2-x1)**2 + (y2-y1)**2)

print("distance",distance)

enter coordinate x1 :1
enter coordinate y1 :1
enter coordinate x2 :2
enter coordinate y2 :2
1.4142135623730951

# 10) WAP to print sum of n natural numbers.

In [23]:
n = int (input("enter the number upto which you want sum :"))

sum = (n*(n+1))/2

print("sum =",sum)

enter the number upto which you want sum5
sum = 15.0

### 11) WAP to print sum of square of n natural numbers.

In [26]:
n = int (input("enter the number upto which you want sum :"))

sum = (n*(n+1)*(2*n+1))/6

print("sum =",sum)

enter the number upto which you want sum :5
sum = 55.0

### 12) WAP to concate the first and last name of the student.

In [27]:
firstname = input("enter first name")
lastname = input("enter last name")

fullname = firstname+lastname

print("fullname",fullname)

enter first namemihir
enter last namekacha
fullname mihirkacha

### 13) WAP to swap two numbers.

In [1]:
a = int(input("enter number in a :"))
b = int(input("enter number in b :"))

a,b=b,a

print("a = ",a,"b = ",b)

a =  8 b =  7

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [ ]:
a = int(input("enter kilometer :"))

print("meter =",a*1000)
print("feet =",a*3280.84)

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [1]:
day = int(input("Enter day: "))
month = int(input("Enter month: "))
year = int(input("Enter year: "))

print(day, month, year, sep="-")

Enter day: 5
Enter month: 4
Enter year: 2005
5-4-2005