<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 11</b></center>    
<center><b><h1>KACHA MIHIR | 23010101118 | 18/2/2025 </b></center>

<pre>

# Modules

### 01) WAP to create Calculator module which defines functions like add, sub,mul and div. 
### Create another .py file that uses the functions available in Calculator module.

In [1]:
import module as mk
print(mk.add(3,4))
print(mk.multy(2,3))

7
6

### 02) WAP to pick a random character from a given String.

In [1]:
import random as r;
str = "mihr kacha"
print(r.choice(str))

k

### 03) WAP to pick a random element from a given list.

In [2]:
li=[234,453,3455,4675,43532,45,54765,4345,6324235,3467457,68,764567345,324,2346557,56,7456,435,345,6,54456]
print(r.choice(li))

4675

### 04) WAP to roll a dice in such a way that every time you get the same number.

In [12]:
import random as r;
r.seed(7)
roll=r.randint(1,6)
print(roll)

3

### 05) WAP to generate 3 random integers between 100 and 999 which is divisible by 5.

In [14]:
nums = [r.choice(range(100,1000,5)) for i in range(3)]
print(nums)

[160, 190, 785]

### 06) WAP to generate 100 random lottery tickets and pick two lucky tickets from it and announce them as Winner and Runner up respectively.

In [15]:
lotteryTickets = [r.choice(range(100000,999999)) for i in range(100)]
winners = [r.choice(lotteryTickets) for i in range(2)]
print("winner = ",winners[0],"runner up = ",winners[1])

winner =  955770 runner up =  208061

### 07) WAP to print current date and time in Python.

In [7]:
from datetime import  datetime as dt
print(dt.now())

2025-02-18 10:49:48.925828

### 08) Subtract a week (7 days) from a given date in Python.

In [8]:
from datetime import  timedelta as td
today = dt.now()
newday = today -td(days=7)
print(newday)

2025-02-11 10:50:42.023240

### 09) WAP to Calculate number of days between two given dates.

In [15]:
date1  = dt.now()
date2 = dt.now() - td(weeks=4)
diff =  (date1 -date2).days

print(diff)

28


### 10) WAP to Find the day of the week of a given date.(i.e. wether it is sunday/monday/tuesday/etc.)

In [22]:
date = dt.now() - td(weeks=4)
day=date.strftime("%A")
print(day)

Tuesday

### 11) WAP to demonstrate the use of date time module.

In [23]:
from datetime import time

Time = time(11, 34, 56)

print("hour =", Time.hour)
print("minute =", Time.minute)
print("second =", Time.second)
print("microsecond =", Time.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [25]:
from datetime import datetime
from pytz import timezone

format = "%Y-%m-%d %H:%M:%S %Z%z"

# Current time in UTC
now_utc = datetime.now(timezone('UTC'))
print(now_utc.strftime(format))

timezones = ['Asia/Kolkata', 'Europe/Kiev', 'America/New_York']

for tzone in timezones:

	# Convert to Asia/Kolkata time zone
	now_asia = now_utc.astimezone(timezone(tzone))
	print(now_asia.strftime(format))

2025-02-18 05:36:43 UTC+0000
2025-02-18 11:06:43 IST+0530
2025-02-18 07:36:43 EET+0200
2025-02-18 00:36:43 EST-0500

### 12) WAP to demonstrate the use of the math module.

In [28]:
import math
print(math.pi)

print (math.isnan(math.pi)) 
print (math.isnan(math.e)) 
print (math.isnan(float('nan')))


print ("The value of log 2 with base 3 is : ", end="") 
print (math.log(2,3)) 
print ("The value of log2 of 16 is : ", end="") 
print (math.log2(16)) 
print ("The value of log10 of 10000 is : ", end="") 
print (math.log10(10000))

3.141592653589793
False
False
True
The value of log 2 with base 3 is : 0.6309297535714574
The value of log2 of 16 is : 4.0
The value of log10 of 10000 is : 4.0